{% extends 'home/homeAdmin.html.twig' %}

{% block title %}New Livraison{% endblock %}

{% block body %}
    <h1>Create new Livraison</h1>

    {{ form_start(form) }}

<div class="mb-3">
    {{ form_label(form.created_at) }}
    {{ form_widget(form.created_at, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.created_at) }}
</div>

<div class="mb-3">
    {{ form_label(form.created_by) }}
    {{ form_widget(form.created_by, {'attr': {'class': 'form-select'}}) }}
    {{ form_errors(form.created_by) }}
</div>

<div class="mb-3">
    {{ form_label(form.id_livreur) }}
    {{ form_widget(form.id_livreur, {'attr': {'class': 'form-select'}}) }}
    {{ form_errors(form.id_livreur) }}
</div>

<div class="mb-3">
    {{ form_label(form.commandeId) }}
    {{ form_widget(form.commandeId, {'attr': {'class': 'form-select'}}) }}
    {{ form_errors(form.commandeId) }}
</div>

<div class="mb-3">
    {{ form_label(form.factureId) }}
    {{ form_widget(form.factureId, {'attr': {'class': 'form-select'}}) }}
    {{ form_errors(form.factureId) }}
</div>

<div class="mb-3">
    {{ form_label(form.zoneId) }}
    {{ form_widget(form.zoneId, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.zoneId) }}
</div>

<div style="margin-top:80px">
    <button class="btn btn-primary">Save</button>
    <a class="btn bg-primary text-white" href="{{ path('app_livraison_index') }}">back to list</a>

</div>

{{ form_end(form) }}


{% endblock %}
