{% extends 'home/homeClient.html.twig' %}

{% block title %}New Avis{% endblock %}

{% block body %}
    <h1>Create new Avis</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_errors(form) }}


<div class="form-group mb-3">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    {% if form_errors(form.description) %}
        <div class="invalid-feedback d-block">
            {{ form_errors(form.description) }}
        </div>
    {% endif %}
</div>

<div class="form-group mb-3">
    {{ form_label(form.created_by) }}
    {{ form_widget(form.created_by, {'attr': {'class': 'form-select'}}) }}
    {% if form_errors(form.created_by) %}
        <div class="invalid-feedback d-block">
            {{ form_errors(form.created_by) }}
        </div>
    {% endif %}
</div>

<div class="form-group mb-3">
    {{ form_label(form.livraisonId) }}
    {{ form_widget(form.livraisonId, {'attr': {'class': 'form-select'}}) }}
    {% if form_errors(form.livraisonId) %}
        <div class="invalid-feedback d-block">
            {{ form_errors(form.livraisonId) }}
        </div>
    {% endif %}
</div>

<button type="submit" class="btn btn-primary">Enregistrer</button>

{{ form_end(form) }}


    <a href="{{ path('app_avis_index') }}">back to list</a>
{% endblock %}

