{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_commande</th>
                <th>Adresse_dep</th>
                <th>Adresse_arr</th>
                <th>Type_livraison</th>
                <th>Horaire</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.idCommande }}</td>
                <td>{{ commande.adresseDep }}</td>
                <td>{{ commande.adresseArr }}</td>
                <td>{{ commande.typeLivraison }}</td>
                <td>{{ commande.horaire ? commande.horaire|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.statut }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'id_commande': commande.id_commande}) }}">show</a>
                    <a href="{{ path('app_commande_edit', {'id_commande': commande.id_commande}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}">Create new</a>
{% endblock %}
