{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_article</th>
                <td>{{ article.idArticle }}</td>
            </tr>
            <tr>
                <th>Url_image</th>
                <td>{{ article.urlImage }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ article.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ article.prix }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ article.quantite }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ article.statut }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NbViews</th>
                <td>{{ article.nbViews }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_index') }}">back to list</a>

    <a href="{{ path('app_article_edit', {'id_article': article.id_article}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
